name: Go

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  build:
    name: Build
    runs-on: ubuntu-18.04
    steps:
    - name: Set up Golang
      uses: actions/setup-go@v2
      with:
        go-version: ^1.16
      id: go

    - name: Setup env
      run: |
        echo "GOPATH=$(go env GOPATH)" >> $GITHUB_ENV
        echo "$(go env GOPATH)/bin" >> $GITHUB_PATH

    - name: Check out code into the Go module directory
      uses: actions/checkout@v2

    - name: Install Tools
      run: make install-tools

    - name: Build
      run: make ci
