name: release

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  build:
    name: Make
    runs-on: ubuntu-18.04
    steps:
    - name: Setup golang
      uses: actions/setup-go@v2
      with:
        go-version: ^1.16
      id: go

    - name: Setup env
      run: |
        echo "GOPATH=$(go env GOPATH)" >> $GITHUB_ENV
        echo "$(go env GOPATH)/bin" >> $GITHUB_PATH

    - name: Check out code into the Go module directory
      uses: actions/checkout@v2

    - name: Install Tools
      run: make install-tools

    - name: Build
      run: make release

    - name: Release
      uses: meeDamian/github-release@2.0
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        files: bin/
        allow_override: true
